{{ define "layouts/footer.html"}}

<!-- Footer -->
<br><br><br><br><br>
<footer class="footer bg-light">
  <br>
    <div class="container">
      <div class="row">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="/">Home</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/con-test">Connectivity</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/amplify">Amplify</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/vt-deploy">Elastic Managment</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <p class="text-muted small mb-4 mb-lg-0">@github.com/agustinlare 2022. Todos los derechos e izquierdos reservados.</p>
      </div>
    </div>
  </footer>
</body>
</html>

{{ end }}